In [28]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [29]:
may = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/may.csv')
may.shape

(20292503, 9)

In [30]:
may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird
5,2019-05-01 00:01:41.247000,36.157188,-86.769978,Powered3F3VK,Powered,82.0,scooter,0.0,Bird
6,2019-05-01 00:01:41.247000,36.154348,-86.784765,PoweredVL7YG,Powered,56.0,scooter,0.0,Bird
7,2019-05-01 00:01:41.247000,36.158930,-86.775987,Powered5LNUG,Powered,100.0,scooter,0.0,Bird
8,2019-05-01 00:01:41.247000,36.135993,-86.804226,Powered7SPQQ,Powered,85.0,scooter,0.0,Bird
9,2019-05-01 00:01:41.247000,36.148938,-86.811256,PoweredBV1DT,Powered,65.0,scooter,0.0,Bird

In [31]:
june = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/june.csv')
june.shape

(28046095, 9)

In [33]:
july = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/july.csv')
july.shape

(25075445, 9)

In [34]:
may.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [36]:
may.costpermin.value_counts()

0.00    10918645
0.15     5577488
0.06     2741578
0.23     1051915
0.05        2877
Name: costpermin, dtype: int64

In [37]:
may.sumdgroup.value_counts()

scooter    17542872
Scooter     2740710
bicycle        8921
Name: sumdgroup, dtype: int64

In [38]:
may.companyname.value_counts()

Lime      7120576
Bird      4334006
Lyft      3112581
Jump      2984630
Spin      1301001
Gotcha     915314
Bolt       524395
Name: companyname, dtype: int64

In [39]:
june.companyname.value_counts()

Jump      8482893
Lime      6161191
Bird      4215302
Lyft      3084229
Spin      2507991
Gotcha    1830453
Bolt      1764036
Name: companyname, dtype: int64

In [40]:
july.companyname.value_counts()

Jump      10367575
Bird       3702282
Lime       3242494
Lyft       2890233
Gotcha     1933513
Spin       1750581
Bolt       1188767
Name: companyname, dtype: int64

In [41]:
may = may.drop(columns =['costpermin','pubdatetime','chargelevel'])

In [42]:
may.head()

    latitude  longitude        sumdid sumdtype sumdgroup companyname
0  36.136822 -86.799877  PoweredLIRL1  Powered   scooter        Bird
1  36.191252 -86.772945  PoweredXWRWC  Powered   scooter        Bird
2  36.144752 -86.806293  PoweredMEJEH  Powered   scooter        Bird
3  36.162056 -86.774688  Powered1A7TC  Powered   scooter        Bird
4  36.150973 -86.783109  Powered2TYEF  Powered   scooter        Bird

In [43]:
june = june.drop(columns =['pubdatetime','chargelevel','costpermin'])

In [44]:
june.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28046095 entries, 0 to 28046094
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   latitude     float64
 1   longitude    float64
 2   sumdid       object
 3   sumdtype     object
 4   sumdgroup    object
 5   companyname  object
dtypes: float64(2), object(4)
memory usage: 1.3+ GB

In [45]:
july = july.drop(columns =['pubdatetime','chargelevel','costpermin'])

In [46]:
july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25075445 entries, 0 to 25075444
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   latitude     float64
 1   longitude    float64
 2   sumdid       object
 3   sumdtype     object
 4   sumdgroup    object
 5   companyname  object
dtypes: float64(2), object(4)
memory usage: 1.1+ GB

In [ ]:
##months2 = may.merge(june, on =['sumdid','sumdtype'], how = "union")

In [47]:
type(may)

pandas.core.frame.DataFrame

In [19]:
##may['latitude'] = pd.to_numeric(may['latitude'])
##may['longitude'] = pd.to_numeric(may['longitude'])

In [48]:
may['geometry'] = may.apply(lambda x: Point((x.longitude, 
                                             x.latitude)), 
                                        axis=1)

NameError: name 'point' is not defined

In [51]:
may.companyname.value_counts()

Lime      7120576
Bird      4334006
Lyft      3112581
Jump      2984630
Spin      1301001
Gotcha     915314
Bolt       524395
Name: companyname, dtype: int64

In [ ]:
data = may.sort_values('companyname')
plt.bar('name', 'companyname', data = data)
plt.xticks(rotation = 70)
plt.title('company percentage');