In [11]:
import pandas as pd
may = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/may.csv')
may.shape

(20292503, 9)

In [12]:
may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird
5,2019-05-01 00:01:41.247000,36.157188,-86.769978,Powered3F3VK,Powered,82.0,scooter,0.0,Bird
6,2019-05-01 00:01:41.247000,36.154348,-86.784765,PoweredVL7YG,Powered,56.0,scooter,0.0,Bird
7,2019-05-01 00:01:41.247000,36.158930,-86.775987,Powered5LNUG,Powered,100.0,scooter,0.0,Bird
8,2019-05-01 00:01:41.247000,36.135993,-86.804226,Powered7SPQQ,Powered,85.0,scooter,0.0,Bird
9,2019-05-01 00:01:41.247000,36.148938,-86.811256,PoweredBV1DT,Powered,65.0,scooter,0.0,Bird

In [9]:
june = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/june.csv')
june.shape

(28046095, 9)

In [10]:
july = pd.read_csv('C:/Users/6106057/nss-data-analytics/projects/nashville-scooters-scooter-snatchers/data/july.csv')
july.shape

(25075445, 9)

In [13]:
may.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [15]:
may.costpermin.value_counts()

0.00    10918645
0.15     5577488
0.06     2741578
0.23     1051915
0.05        2877
Name: costpermin, dtype: int64

In [19]:
may.sumdgroup.value_counts()

scooter    17542872
Scooter     2740710
bicycle        8921
Name: sumdgroup, dtype: int64

In [22]:
may.companyname.value_counts()

Lime      7120576
Bird      4334006
Lyft      3112581
Jump      2984630
Spin      1301001
Gotcha     915314
Bolt       524395
Name: companyname, dtype: int64