# This notebook is used to import .csv files to pickle files

#### Import modules needed to import .csv files to pickle files

In [1]:
import pandas as pd
import pickle

#### Check timeframe to import .csv to DataFrame

In [3]:
%%time
june = pd.read_csv('../data/june.csv')
june.head()

Wall time: 57.7 s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,Powered,90.0,scooter,0.06,Jump
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,Powered,63.0,scooter,0.06,Jump
2,2019-06-01 00:00:12,36.1202,-86.7533,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,Powered,77.0,scooter,0.06,Jump
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,Powered,0.0,scooter,0.06,Jump
4,2019-06-01 00:00:12,36.1622,-86.7806,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,Powered,2.0,scooter,0.06,Jump

#### Next we want to remove unneeded columns, we only need data relevant to scooters.

In [4]:
june.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [6]:
june = june.loc[june.sumdgroup.isin(['scooter', 'Scooter'])]

In [7]:
june = june[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

#### Convert DataFrame to pickle file

In [8]:
june.to_pickle('../data/june.pkl')

#### Compare .csv file read time to pickle file read time

In [9]:
%%time
june = pd.read_pickle("../data/june.pkl")

Wall time: 7.01 s