# This notebook is used to import .csv files to pickle files

#### Import modules needed to import .csv files to pickle files

In [1]:
import pandas as pd
import pickle

#### Check timeframe to import .csv to DataFrame

In [2]:
%%time
may_df = pd.read_csv('../data/may.csv')
may_df.head()

Wall time: 36.6 s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

#### Next we want to remove unneeded columns, we only need data relevant to scooters.

In [3]:
may_df.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [4]:
may_df = may_df.loc[may.sumdgroup.isin(['scooter', 'Scooter'])]

In [5]:
may_df = may_df[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

#### Convert DataFrame to pickle file

In [6]:
may_df.to_pickle('../data/may.pkl')

#### Compare .csv file read time to pickle file read time

In [7]:
%%time
may_df = pd.read_pickle("../data/may.pkl")

Wall time: 5.79 s