# This notebook is for eda on the June data

#### Import needed modules

In [1]:
import pandas as pd

#### Import .csv to DataFrame and check top and bottom of the data

In [2]:
june_df = pd.read_pickle('../data/june.pkl')
june_df.head()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,90.0,Jump
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,63.0,Jump
2,2019-06-01 00:00:12,36.1202,-86.7533,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,77.0,Jump
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,0.0,Jump
4,2019-06-01 00:00:12,36.1622,-86.7806,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,2.0,Jump

In [3]:
june_df.tail()

,pubdatetime,latitude,longitude,sumdid,chargelevel,companyname
28046090,2019-06-30 23:59:55.273000,36.125567,-86.776982,PoweredZYNSVOII2QSLD,100.0,Lime
28046091,2019-06-30 23:59:55.273000,36.121717,-86.775207,PoweredXOPAIWGL7SF62,93.0,Lime
28046092,2019-06-30 23:59:55.273000,36.127046,-86.777262,PoweredBYKFOWELGPKH6,61.0,Lime
28046093,2019-06-30 23:59:55.273000,36.123775,-86.790115,PoweredIAAQ7WODYXON7,35.0,Lime
28046094,2019-06-30 23:59:55.273000,36.121735,-86.775148,Powered3HJPPUNVYGL45,96.0,Lime

#### Check column attributes

In [4]:
june_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28037408 entries, 0 to 28046094
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  object
dtypes: float64(3), object(3)
memory usage: 1.5+ GB

#### Convert pubdatetime column from string to datetime format

In [9]:
june_df['pubdatetime'] = pd.to_datetime(june_df['pubdatetime'])
june_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28037408 entries, 0 to 28046094
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.5+ GB

#### Check for null within columns

In [5]:
june_df.isnull().sum()

pubdatetime      0
latitude         0
longitude        0
sumdid           0
chargelevel    285
companyname      0
dtype: int64

In [6]:
june_df.companyname.value_counts()

Jump      8482893
Lime      6152504
Bird      4215302
Lyft      3084229
Spin      2507991
Gotcha    1830453
Bolt      1764036
Name: companyname, dtype: int64

#### Check for dups within sumdid

In [7]:
june_df.sumdid.nunique()

7822

In [8]:
june_df.describe()

           latitude     longitude   chargelevel
count  2.803741e+07  2.803741e+07  2.803712e+07
mean   3.613714e+01 -8.675778e+01  5.830082e+01
std    4.442858e-01  1.033852e+00  3.468189e+01
min    0.000000e+00 -9.744388e+01  0.000000e+00
25%    3.612151e+01 -8.679099e+01  3.400000e+01
50%    3.615147e+01 -8.677846e+01  6.600000e+01
75%    3.616186e+01 -8.675370e+01  9.000000e+01
max    4.271800e+01  0.000000e+00  1.000000e+02