# This notebook is used to import .csv files to pickle files

#### Import modules needed to import .csv files to pickle files

In [4]:
import pandas as pd
import pickle

#### Check timeframe to import .csv to DataFrame

In [5]:
%%time
july_df = pd.read_csv('../data/july.csv')
july_df.head()

Wall time: 46.7 s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550000,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973000,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft
2,2019-07-01 00:00:41.183000,36.179319,-86.751538,Powered570380,Powered,76.0,scooter,0.15,Lyft
3,2019-07-01 00:00:41.620000,36.152111,-86.803821,Powered240631,Powered,43.0,scooter,0.15,Lyft
4,2019-07-01 00:00:45.087000,36.149355,-86.797550,Powered970404,Powered,52.0,scooter,0.15,Lyft

#### Next we want to remove unneeded columns, we only need data relevant to scooters.

In [6]:
july_df.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [9]:
july_df = july_df.loc[july_df.sumdgroup.isin(['scooter', 'Scooter'])]

In [10]:
july_df = july_df[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

#### Convert DataFrame to pickle file

In [11]:
july_df.to_pickle('../data/july.pkl')

#### Compare .csv file read time to pickle file read time

In [12]:
%%time
july_df = pd.read_pickle("../data/july.pkl")

Wall time: 14.6 s