In [1]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import datetime as dt
import math
import numpy as np

In [2]:
june = pd.read_csv('../data/june.csv/june.csv')

In [6]:
july = pd.read_csv('../data/july.csv/july.csv')

In [8]:
may = pd.read_csv('../data/may.csv/may.csv')

import numpy as np
import matplotlib.pyplot as plt
N = 5
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
ind = np.arange(N) # the x locations for the groups
width = 0.35
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(ind, menMeans, width, color='r')
ax.bar(ind, womenMeans, width,bottom=menMeans, color='b')
ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.set_xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
ax.set_yticks(np.arange(0, 81, 10))
ax.legend(labels=['Men', 'Women'])
plt.show()

labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = [20, 35, 30, 35, 27]
women_means = [25, 32, 34, 20, 25]
men_std = [2, 3, 4, 1, 2]
women_std = [3, 5, 2, 3, 3]
width = 0.35       # the width of the bars: can also be len(x) sequence

fig, ax = plt.subplots()

ax.bar(labels, men_means, width, yerr=men_std, label='Men')
ax.bar(labels, women_means, width, yerr=women_std, bottom=men_means,
       label='Women')

ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.legend()

plt.show()

In [10]:
may_companyname = may['companyname'].value_counts()
may_companyname

Lime      7120576
Bird      4334006
Lyft      3112581
Jump      2984630
Spin      1301001
Gotcha     915314
Bolt       524395
Name: companyname, dtype: int64

In [11]:
june_companyname = june['companyname'].value_counts()
june_companyname

Jump      8482893
Lime      6161191
Bird      4215302
Lyft      3084229
Spin      2507991
Gotcha    1830453
Bolt      1764036
Name: companyname, dtype: int64

In [12]:
july_companyname = july['companyname'].value_counts()
july_companyname

Jump      10367575
Bird       3702282
Lime       3242494
Lyft       2890233
Gotcha     1933513
Spin       1750581
Bolt       1188767
Name: companyname, dtype: int64

In [14]:
may_companyname.to_csv('may.csv')

In [15]:
june_companyname.to_csv('june.csv')

In [16]:
july_companyname.to_csv('july.csv')