In [27]:
import pandas as pd
import pickle

In [28]:
%%time
july = pd.read_csv('../data/july.csv')
july.head()

Wall time: 1min 20s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550000,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973000,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft
2,2019-07-01 00:00:41.183000,36.179319,-86.751538,Powered570380,Powered,76.0,scooter,0.15,Lyft
3,2019-07-01 00:00:41.620000,36.152111,-86.803821,Powered240631,Powered,43.0,scooter,0.15,Lyft
4,2019-07-01 00:00:45.087000,36.149355,-86.797550,Powered970404,Powered,52.0,scooter,0.15,Lyft

In [29]:
july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25075445 entries, 0 to 25075444
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.7+ GB

In [30]:
july.isnull().sum()##CHARGE LEVEL COLUMN HAS 202 NULLS

pubdatetime      0
latitude         0
longitude        0
sumdid           0
sumdtype         0
chargelevel    202
sumdgroup        0
costpermin       0
companyname      0
dtype: int64

In [31]:
july.companyname.unique()

array(['Lyft', 'Bird', 'Spin', 'Bolt', 'Jump', 'Lime', 'Gotcha'],
      dtype=object)

In [6]:
##company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [7]:
##july.companyname = july.companyname.replace(company_dict)

In [32]:
##july.pubdatetime = pd.to_datetime(july.pubdatetime)
july.head(2)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550000,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973000,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft

In [33]:
july_scooters = july.loc[july.sumdgroup.isin(['scooter', 'Scooter'])]

In [34]:
july_scooters = july_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

In [35]:
july_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25066524 entries, 0 to 25075444
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  object
dtypes: float64(3), object(3)
memory usage: 1.3+ GB

In [36]:
july_scooters.to_pickle("../data/july.pkl")

In [37]:
%%time
july = pd.read_pickle("../data/july.pkl")

Wall time: 13.3 s