In [15]:
import pandas as pd
import pickle

In [16]:
%%time
july_trip = pd.read_csv('../data/july_trip.csv')
july_trip.head()

Wall time: 2.76 s

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [17]:
july_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    134926 non-null  object
 1   companyName     134926 non-null  object
 2   tripRecordNum   134926 non-null  object
 3   sumdID          134926 non-null  object
 4   tripDuration    134926 non-null  float64
 5   tripDistance    134926 non-null  float64
 6   startDate       134926 non-null  object
 7   startTime       134926 non-null  object
 8   endDate         134926 non-null  object
 9   endTime         134926 non-null  object
 10  startLatitude   134926 non-null  float64
 11  startLongitude  134926 non-null  float64
 12  endLatitude     134926 non-null  float64
 13  endLongitude    134926 non-null  float64
 14  tripRoute       134926 non-null  object
 15  create_dt       134926 non-null  object
dtypes: float64(6), object(10)
memory usage: 16.5+ MB

In [23]:
july_trip.companyName.unique()

array(['Bird', 'Lyft', 'Bolt Mobility', 'SPIN', 'Lime', 'Gotcha', 'JUMP'],
      dtype=object)

In [24]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [25]:
july_trip.companyName = july_trip.companyName.replace(company_dict)

In [27]:
july_trip.pubTimeStamp = pd.to_datetime(july_trip.pubTimeStamp)
july_trip.head(2)

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213,0,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213,0,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000

In [29]:
july_trip.sumdID.unique()

array(['PoweredZSHKJ', 'Powered22JF6', 'PoweredIB2CC', ...,
       'Powered216IW', 'PoweredQR6KS', 'PoweredVNWRA'], dtype=object)

In [30]:
july_trip_scooters = july_trip.loc[july_trip.sumdID.isin(['scooter', 'Scooter'])]

In [ ]:
july_trip_scooters = july_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

In [ ]:
july_trip_scooters.info()

In [ ]:
july_trip_scooters.to_pickle("../data/july_trip.pkl")

In [ ]:
%%time
july_trip_test = pd.read_pickle("../data/july_trip.pkl")