In [1]:
import pandas as pd
import pickle

In [2]:
%%time
june_trip = pd.read_csv('../data/june_trip.csv')
june_trip.head()

Wall time: 3.12 s

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-06-01 00:05:46.817000,Bird,BRD3572,PoweredSPI1T,4.0,328.084000,2019-06-01 00:00:00,00:02:18.203333,2019-06-01 00:00:00,00:06:16.406666,36.164400,-86.78070,36.163600,-86.780200,"[[36.164679,-86.781089],[36.163693,-86.78011],...",2019-06-02 05:30:19.960000
1,2019-06-01 00:05:46.817000,Bird,BRD3571,Powered2I3MS,5.0,4921.260000,2019-06-01 00:00:00,00:02:44.803333,2019-06-01 00:00:00,00:07:28.286666,36.175300,-86.79430,36.175300,-86.794300,"[[36.175367,-86.794232],[36.175367,-86.794232]...",2019-06-02 05:30:19.927000
2,2019-06-01 00:09:54,Gotcha,GOT1,Powered327,12.0,12.426575,2019-06-01 00:00:00,00:09:56,2019-06-01 00:00:00,00:21:56,36.161501,-86.77601,36.152529,-86.783742,"[[""36.16149"",""-86.77605000000001""]]",2019-06-06 22:23:08.673000
3,2019-06-01 00:10:46.957000,Bird,BRD3610,Powered8U1A6,2.0,0.000000,2019-06-01 00:00:00,00:10:31.163333,2019-06-01 00:00:00,00:12:02.773333,36.164000,-86.78070,36.163100,-86.779700,"[[36.163168,-86.779639]]",2019-06-02 05:30:20.283000
4,2019-06-01 00:10:46.957000,Bird,BRD3612,PoweredSPI1T,5.0,656.168000,2019-06-01 00:00:00,00:07:21.430000,2019-06-01 00:00:00,00:12:30.913333,36.165000,-86.77990,36.165900,-86.777800,"[[36.164951,-86.779836],[36.16494,-86.779456],...",2019-06-02 05:30:20.347000

In [3]:
june_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205627 entries, 0 to 205626
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    205627 non-null  object
 1   companyName     205627 non-null  object
 2   tripRecordNum   205627 non-null  object
 3   sumdID          205627 non-null  object
 4   tripDuration    205627 non-null  float64
 5   tripDistance    205627 non-null  float64
 6   startDate       205627 non-null  object
 7   startTime       205627 non-null  object
 8   endDate         205627 non-null  object
 9   endTime         205627 non-null  object
 10  startLatitude   205627 non-null  float64
 11  startLongitude  205627 non-null  float64
 12  endLatitude     205627 non-null  float64
 13  endLongitude    205627 non-null  float64
 14  tripRoute       205627 non-null  object
 15  create_dt       205627 non-null  object
dtypes: float64(6), object(10)
memory usage: 25.1+ MB

In [4]:
june_trip.companyName.unique()

array(['Bird', 'Gotcha', 'SPIN', 'Bolt Mobility', 'Lime', 'Lyft', 'JUMP'],
      dtype=object)

In [5]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [6]:
june_trip.companyName = june_trip.companyName.replace(company_dict)

In [7]:
june_trip.pubTimeStamp = pd.to_datetime(june_trip.pubTimeStamp)
june_trip.head(2)

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-06-01 00:05:46.817,0,BRD3572,PoweredSPI1T,4.0,328.084,2019-06-01 00:00:00,00:02:18.203333,2019-06-01 00:00:00,00:06:16.406666,36.1644,-86.7807,36.1636,-86.7802,"[[36.164679,-86.781089],[36.163693,-86.78011],...",2019-06-02 05:30:19.960000
1,2019-06-01 00:05:46.817,0,BRD3571,Powered2I3MS,5.0,4921.260,2019-06-01 00:00:00,00:02:44.803333,2019-06-01 00:00:00,00:07:28.286666,36.1753,-86.7943,36.1753,-86.7943,"[[36.175367,-86.794232],[36.175367,-86.794232]...",2019-06-02 05:30:19.927000

In [8]:
june_trip.sumdID.unique()

array(['PoweredSPI1T', 'Powered2I3MS', 'Powered327', ...,
       'PoweredDGVRIYHXJVPI6', 'PoweredGXZX62L6YWKLP',
       'Poweredc2d0a425-86dd-5664-a036-d770559391bb'], dtype=object)

In [10]:
june_trip_scooters = june_trip.loc[june_trip.sumdID.isin(['scooter', 'Scooter'])]

In [12]:
june_trip_scooters = june_trip_scooters[['pubTimeStamp', 'startLatitude', 'startLongitude', 'sumdID', 'companyName']]

In [13]:
june_trip_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubTimeStamp    0 non-null      datetime64[ns]
 1   startLatitude   0 non-null      float64
 2   startLongitude  0 non-null      float64
 3   sumdID          0 non-null      object
 4   companyName     0 non-null      object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 0.0+ bytes

In [14]:
june_trip_scooters.to_pickle("../data/june_trip.pkl")

In [15]:
%%time
june_trip_test = pd.read_pickle("../data/june_trip.pkl")

Wall time: 4.69 ms