In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
import sqlite3 as sql
import datetime
%matplotlib inline

In [35]:
may_trip = pd.read_csv('../data/may_trip.csv')
may_trip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000

In [36]:
may_trip.pubdatetime = pd.to_datetime(may_trip.pubTimeStamp)
may_trip.head(2)

<ipython-input-36-5fa14ecdb76d>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  may_trip.pubdatetime = pd.to_datetime(may_trip.pubTimeStamp)

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000

In [38]:
may_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224969 entries, 0 to 224968
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    224969 non-null  object
 1   companyName     224969 non-null  object
 2   tripRecordNum   224969 non-null  object
 3   sumdID          224969 non-null  object
 4   tripDuration    224969 non-null  float64
 5   tripDistance    224969 non-null  float64
 6   startDate       224969 non-null  object
 7   startTime       224969 non-null  object
 8   endDate         224969 non-null  object
 9   endTime         224969 non-null  object
 10  startLatitude   224969 non-null  float64
 11  startLongitude  224969 non-null  float64
 12  endLatitude     224969 non-null  float64
 13  endLongitude    224969 non-null  float64
 14  tripRoute       224969 non-null  object
 15  create_dt       224969 non-null  object
dtypes: float64(6), object(10)
memory usage: 27.5+ MB

# endtime - startime = time on the trip
# how many scooters outside. 
# time for scooter avaerage (find the top 20 bottom to see where they at); 3 rides for each scooter per day
# the hours for the month 744 - hours on the road 248 = hours stay 496 (avg time stay in one location is 99.2 mins)
#

In [39]:
may_trip.loc[(may_trip['sumdID'] == 'Powered515')]

Empty DataFrame
Columns: [pubTimeStamp, companyName, tripRecordNum, sumdID, tripDuration, tripDistance, startDate, startTime, endDate, endTime, startLatitude, startLongitude, endLatitude, endLongitude, tripRoute, create_dt]
Index: []

# There is no powered515 on the moving?

In [44]:
p406 = may_trip.loc[(may_trip['sumdID'] == 'Powered406') & (may_trip['sumdID'] == 'Powered406')
p406.head(5)

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
154361,2019-05-24 03:54:43,Gotcha,GOT13,Powered406,3.183333,62.489503,2019-05-24 00:00:00,03:54:45,2019-05-24 00:00:00,03:57:56,36.153064,-86.783609,36.152897,-86.783532,"[[""36.1529"",""-86.78365000000001""]]",2019-06-06 21:28:57.757000
221291,2019-05-31 18:26:37,Gotcha,GOT77,Powered406,17.000000,378.566285,2019-05-31 00:00:00,18:26:41,2019-05-31 00:00:00,18:43:41,36.159932,-86.772888,36.150466,-86.775778,"[[""36.15128"",""-86.77553""],[""36.150360000000006...",2019-06-06 22:16:33.853000
223584,2019-05-31 22:22:32,Gotcha,GOT111,Powered406,5.000000,3.232838,2019-05-31 00:00:00,22:22:36,2019-05-31 00:00:00,22:27:36,36.150373,-86.775770,36.153301,-86.774342,"[[""36.1533"",""-86.77435000000001""],[""36.1533"",""...",2019-06-06 22:16:54.437000
223585,2019-05-31 22:22:32,Gotcha,GOT112,Powered406,5.000000,3.232838,2019-05-31 00:00:00,22:22:36,2019-05-31 00:00:00,22:27:36,36.150373,-86.775770,36.153301,-86.774342,"[[""36.1533"",""-86.77435000000001""],[""36.1533"",""...",2019-06-06 22:16:54.867000
224068,2019-05-31 23:28:06,Gotcha,GOT142,Powered406,9.000000,4087.959448,2019-05-31 00:00:00,23:28:07,2019-05-31 00:00:00,23:37:07,36.153386,-86.774407,36.163730,-86.779687,"[[""36.15339"",""-86.77441""],[""36.15339"",""-86.774...",2019-06-06 22:17:03.370000

In [32]:
gotcha = may_trip.loc[(may_trip['companyName'] == 'Gotcha')]
gotcha.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 134871 to 224500
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubTimeStamp    650 non-null    object
 1   companyName     650 non-null    object
 2   tripRecordNum   650 non-null    object
 3   sumdID          650 non-null    object
 4   tripDuration    650 non-null    float64
 5   tripDistance    650 non-null    float64
 6   startDate       650 non-null    object
 7   startTime       650 non-null    object
 8   endDate         650 non-null    object
 9   endTime         650 non-null    object
 10  startLatitude   650 non-null    float64
 11  startLongitude  650 non-null    float64
 12  endLatitude     650 non-null    float64
 13  endLongitude    650 non-null    float64
 14  tripRoute       650 non-null    object
 15  create_dt       650 non-null    object
dtypes: float64(6), object(10)
memory usage: 86.3+ KB

In [33]:
gotcha.endTime - gotcha.startTime

TypeError: unsupported operand type(s) for -: 'str' and 'str'