In [1]:
import pandas as pd
import pickle

In [3]:
%%time
may = pd.read_csv('../data/may.csv')
may.head()

Wall time: 790 ms

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,01:41.2,36.136822,-86.799877,PoweredLIRL1,Powered,93,scooter,0,Bird
1,01:41.2,36.191252,-86.772945,PoweredXWRWC,Powered,35,scooter,0,Bird
2,01:41.2,36.144752,-86.806293,PoweredMEJEH,Powered,90,scooter,0,Bird
3,01:41.2,36.162056,-86.774688,Powered1A7TC,Powered,88,scooter,0,Bird
4,01:41.2,36.150973,-86.783109,Powered2TYEF,Powered,98,scooter,0,Bird

In [3]:
may.info() ##20292503 rows, 9 columns, note pubdatetime is an object and needs to be changed to datetime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   pubdatetime  1048575 non-null  object
 1   latitude     1048575 non-null  float64
 2   longitude    1048575 non-null  float64
 3   sumdid       1048575 non-null  object
 4   sumdtype     1048575 non-null  object
 5   chargelevel  1048575 non-null  int64
 6   sumdgroup    1048575 non-null  object
 7   costpermin   1048575 non-null  int64
 8   companyname  1048575 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 72.0+ MB

In [4]:
may.isnull().sum()##CHARGE LEVEL COLUMN HAS 283 NULLS

pubdatetime    0
latitude       0
longitude      0
sumdid         0
sumdtype       0
chargelevel    0
sumdgroup      0
costpermin     0
companyname    0
dtype: int64

In [5]:
##may.info()

In [6]:
##may.describe()

In [7]:
may.companyname.unique()

array(['Bird', 'Lyft', 'Gotcha', 'Lime'], dtype=object)

In [8]:
company_dict = {'Bird':'Bi', 'Lyft': 'Ly', 'Gotcha': 'G', 'Lime': 'Li', 'Spin': 'S', 'Jump': 'J', 'Bolt': 'Bo'}

In [9]:
may.companyname = may.companyname.replace(company_dict)##replaced company name with 2 letter name dictionary

In [10]:
may.pubdatetime = pd.to_datetime(may.pubdatetime)##CHANGES PUBDATETIME COLUMN FROM OBJECT TO DATE TIME

ParserError: hour must be in 0..23: 24:00.0

In [ ]:
##maypubdatetime = pd.to_datetime(may.pubdatetime)##CHANGES PUBDATETIME COLUMN FROM OBJECT TO DATE TIME

In [ ]:
may.sumdgroup.unique() ##produces all the unique values in the sumdgroup column

In [ ]:
may.sumdtype.unique() ##produces all the unique values in the sumdtype column

In [ ]:
may_scooters = may.loc[may.sumdgroup.isin(['scooter', 'Scooter'])] ##FILTERS DATAFRAME TO ONLY SHOW ROWS WHERE SUMDGROUP = SCOOTERS

In [ ]:
may_scooters.companyname.value_counts() ##gives the count of scooters by company

In [ ]:
may_scooters = may_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']] ##drops columns costpermin from dataframe

In [ ]:
##may_scooters = may_scooters.drop(columns=['costpermin']) ##drops columns chargelevel and costpermin from dataframe

In [ ]:
may_scooters.dropna(inplace=True) ##dropping all null rows

In [ ]:
may_scooters.head()

In [ ]:
may_scooters.info()
##Original info before drop of null rows, RangeIndex: 20292503 entries, 0 to 20292502, Data columns (total 9 columns):

In [ ]:
may_scooters.to_pickle("../data/may.pkl")

In [ ]:
%%time
may_test = pd.read_pickle("../data/may.pkl")

In [ ]:
may_scooters.sumdid.unique()

In [ ]:
may_scooters.sumdid.nunique() ##count the number of unique sumdid

In [ ]:
print(may_scooters['sumdid'].value_counts()) ##the count of each of the distinct values of a specific column
##https://datascienceparichay.com/article/pandas-count-of-unique-values-in-each-column/

In [ ]:
##7 SCOOTER COMPANIES, 8304 SCOOTERS,

In [ ]:
may_group=may_scooters.groupby(['companyname'])['sumdid'].nunique()

In [ ]:
may_group

In [ ]:
may_scooters.plot()

In [ ]:
##import matplotlib.pyplot as plt
##import seaborn as sns
##%matplotlib inline

In [ ]:
#set the seaborn theme, style, color palette
#sns.set(style="ticks", color_codes=True)

#make a correlation plot that looks at each variables relationship with every other variable
#and plots the distribution of each variable along the diagonal
#sns.pairplot(may_scooters);

In [ ]:
duplicate_rows = may_scooters[may_scooters.duplicated()]
## Select duplicate rows except first occurrence based on all columns
##duplicateRowsDF = dfObj[dfObj.duplicated()]
##print("Duplicate Rows except first occurrence based on all columns are :")
##print(duplicateRowsDF)

In [ ]:
print("Duplicate Rows except first occurrence based on all columns are:")

In [ ]:
print(duplicate_rows)

In [ ]:
##https://thispointer.com/pandas-find-duplicate-rows-in-a-dataframe-based-on-all-or-selected-columns-using-dataframe-duplicated-in-python/

In [ ]:
##may_scooters['chargelevel']==0

In [ ]:
may_dead=may_scooters.loc[(may_scooters['chargelevel'] == 0.00)]

In [ ]:
may_dead

In [ ]:
Powered406=may_dead.loc[(may_dead['sumdid']=='Powered406')]
Powered406

In [ ]:
# Select all duplicate rows based on multiple column names in list
duplicate_location = Powered406[Powered406.duplicated(['latitude', 'longitude'])]

In [ ]:
duplicate_location ##in Powered406 there are 868 rows. when looking at duplicate locations for Powered406 662 rows