In [1]:
import pandas as pd
import pickle

In [2]:
%%time
may = pd.read_csv('../data/may.csv')
may.head()

Wall time: 50.9 s

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [3]:
may.info() ##SHOWS ALL IMPORTED COLUMNS

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20292503 entries, 0 to 20292502
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  object
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   sumdtype     object
 5   chargelevel  float64
 6   sumdgroup    object
 7   costpermin   float64
 8   companyname  object
dtypes: float64(4), object(5)
memory usage: 1.4+ GB

In [4]:
may.companyname.unique()

array(['Bird', 'Lyft', 'Gotcha', 'Lime', 'Spin', 'Jump', 'Bolt'],
      dtype=object)

In [5]:
may.pubdatetime = pd.to_datetime(may.pubdatetime) ##CHANGES PUBDATETIME FIELD TO DATETIME DATA TYPE
may.head(2)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird

In [6]:
may.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [7]:
may_scooters = may.loc[may.sumdgroup.isin(['scooter', 'Scooter'])] ##IDENTIFIES ALL SCOOTERS

In [8]:
##DROPS COSTPERMIN BY LISTING ONLY WANTED COLUMNS
may_scooters = may_scooters[['pubdatetime', 'latitude', 'longitude', 'sumdid', 'chargelevel', 'companyname']]

In [9]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283582 entries, 0 to 20292502
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   pubdatetime  datetime64[ns]
 1   latitude     float64
 2   longitude    float64
 3   sumdid       object
 4   chargelevel  float64
 5   companyname  object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.1+ GB

In [10]:
may_scooters.to_pickle("../data/may.pkl")
##COMPRESSES MAY_SCOOTERS DATAFRAME TO PICKLE FILE

In [11]:
%%time
may_scooters = pd.read_pickle("../data/may.pkl")

Wall time: 7.83 s