In [1]:
import pandas as pd
import pickle

In [2]:
%%time
may_trip = pd.read_csv('../data/may_trip.csv')
may_trip.head()

Wall time: 8.05 s

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423000,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147000,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000
2,2019-05-01 00:05:55.570000,Bird,BRD2168,Powered7S2UU,3.0000,2296.58800,2019-05-01 00:00:00,00:03:47.363333,2019-05-01 00:00:00,00:07:13.596666,36.15470,-86.78180,36.15650,-86.78680,"[[36.155068,-86.782124],[36.156597,-86.78675]]",2019-05-02 05:30:24.530000
3,2019-05-01 00:05:55.570000,Bird,BRD2166,PoweredZIIVX,3.0000,1200.78744,2019-05-01 00:00:00,00:04:21.386666,2019-05-01 00:00:00,00:06:59.176666,36.14940,-86.77950,36.15310,-86.77960,"[[36.149741,-86.779344],[36.149741,-86.779327]...",2019-05-02 05:30:24.237000
4,2019-05-01 00:05:55.570000,Bird,BRD2165,PoweredJ7MB3,2.0000,351.04988,2019-05-01 00:00:00,00:04:27.796666,2019-05-01 00:00:00,00:06:23.150000,36.17780,-86.78660,36.17740,-86.78760,"[[36.177699,-86.786477],[36.177711,-86.786469]...",2019-05-02 05:30:24.207000

In [3]:
may_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224969 entries, 0 to 224968
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pubTimeStamp    224969 non-null  object
 1   companyName     224969 non-null  object
 2   tripRecordNum   224969 non-null  object
 3   sumdID          224969 non-null  object
 4   tripDuration    224969 non-null  float64
 5   tripDistance    224969 non-null  float64
 6   startDate       224969 non-null  object
 7   startTime       224969 non-null  object
 8   endDate         224969 non-null  object
 9   endTime         224969 non-null  object
 10  startLatitude   224969 non-null  float64
 11  startLongitude  224969 non-null  float64
 12  endLatitude     224969 non-null  float64
 13  endLongitude    224969 non-null  float64
 14  tripRoute       224969 non-null  object
 15  create_dt       224969 non-null  object
dtypes: float64(6), object(10)
memory usage: 27.5+ MB

In [5]:
may_trip.companyName.unique()

array(['Bird', 'Lyft', 'Lime', 'SPIN', 'JUMP', 'Gotcha', 'Bolt Mobility'],
      dtype=object)

In [6]:
company_dict = {'Bird':0, 'Lyft': 1, 'Gotcha': 2, 'Lime': 3, 'Spin': 4, 'Jump': 5, 'Bolt': 6}

In [7]:
may_trip.companyname = may_trip.companyName.replace(company_dict)

<ipython-input-7-15a2194016ef>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  may_trip.companyname = may_trip.companyName.replace(company_dict)

In [8]:
may_trip.pubTimeStamp = pd.to_datetime(may_trip.pubTimeStamp)
may_trip.head(2)

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-05-01 00:00:55.423,Bird,BRD2134,Powered9EAJL,3.0000,958.00528,2019-05-01 00:00:00,00:00:20.460000,2019-05-01 00:00:00,00:02:52.346666,36.15710,-86.80360,36.15660,-86.80670,"[[36.157235,-86.803612],[36.157235,-86.80362],...",2019-05-02 05:30:23.780000
1,2019-05-01 00:03:33.147,Lyft,LFT5,Powered296631,1.7156,1371.39112,2019-05-01 00:00:00,00:01:50.090000,2019-05-01 00:00:00,00:03:33.026666,36.15797,-86.77896,36.16054,-86.77689,"[[36.15797,-86.77896],[36.15795,-86.77873],[36...",2019-05-02 07:20:32.757000

In [10]:
may_trip.sumdID.unique()

array(['Powered9EAJL', 'Powered296631', 'Powered7S2UU', ...,
       'Powered8106751', 'Powered6Y1U7', 'PoweredZYLKUQ5ITXDLL'],
      dtype=object)

In [20]:
may_trip_scooters = may_trip.loc[may_trip.sumdID.isin(['scooter', 'Scooter'])]

In [21]:
may_trip_scooters = may_trip_scooters[['pubTimeStamp', 'startLatitude', 'startLongitude', 'sumdID', 'companyName']]

In [22]:
may_trip_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pubTimeStamp    0 non-null      datetime64[ns]
 1   startLatitude   0 non-null      float64
 2   startLongitude  0 non-null      float64
 3   sumdID          0 non-null      object
 4   companyName     0 non-null      object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 0.0+ bytes

In [23]:
may_trip_scooters.to_pickle("../data/may_trip.pkl")

In [24]:
%%time
may_trip_test = pd.read_pickle("../data/may_trip.pkl")

Wall time: 41.6 ms