In [1]:
import pandas as pd
import pickle

In [2]:
july_trip = pd.read_csv('../data/july_trip.csv')

In [3]:
july_trip.head()

,pubTimeStamp,companyName,tripRecordNum,sumdID,tripDuration,tripDistance,startDate,startTime,endDate,endTime,startLatitude,startLongitude,endLatitude,endLongitude,tripRoute,create_dt
0,2019-07-01 00:02:52.213000,Bird,BRD5179,PoweredZSHKJ,2.0,0.0,2019-07-01 00:00:00,00:01:32.290000,2019-07-01 00:00:00,00:03:55.966666,36.1775,-86.7516,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-02 05:30:18.333000
1,2019-07-01 00:02:52.213000,Bird,BRD5177,Powered22JF6,0.0,0.0,2019-07-01 00:00:00,00:02:38.640000,2019-07-01 00:00:00,00:02:54.406666,36.1627,-86.7711,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-02 05:30:18.273000
2,2019-07-01 00:02:52.213000,Bird,BRD5176,Powered22JF6,1.0,0.0,2019-07-01 00:00:00,00:03:04.333333,2019-07-01 00:00:00,00:03:37.680000,36.1627,-86.7713,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-02 05:30:18.243000
3,2019-07-01 00:02:52.213000,Bird,BRD5178,PoweredIB2CC,1.0,0.0,2019-07-01 00:00:00,00:02:06.963333,2019-07-01 00:00:00,00:03:25.766666,36.1525,-86.7988,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-02 05:30:18.303000
4,2019-07-01 00:02:52.213000,Bird,BRD5180,PoweredW4G7R,2.0,0.0,2019-07-01 00:00:00,00:01:19.843333,2019-07-01 00:00:00,00:02:53.976666,36.1578,-86.7760,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-02 05:30:18.363000

In [4]:
july_trip.to_pickle("../data/july_trip.pkl")

df.drop(df.loc[df['line_race']==0].index, inplace=True)

In [6]:
july_trip.sumdID.value_counts()

PoweredUNKNOWN                                 327
Powered5N5J5BJDODHYX                           141
PoweredOEHCPCAUHESR5                           134
PoweredIHGSNSRXCZ2ZG                           128
Powered5BW4GPYGBMUTL                           126
                                              ...
Powered7LD5Y                                     1
Powered2366                                      1
PoweredJJWV4IOV7I3J5                             1
Powered9YZXU                                     1
Powered6e8b5829-e580-5a6f-b26a-10f9d586b75b      1
Name: sumdID, Length: 5585, dtype: int64

july_trip.drop(july_trip.loc[july_trip['sumdID']=='standard'].index, inplace = True)

july_trip[july_trip['sumdID'].str.contains(r'standard')]

In [7]:
july_trip[july_trip['sumdID'].str.contains(r'standard')]

Empty DataFrame
Columns: [pubTimeStamp, companyName, tripRecordNum, sumdID, tripDuration, tripDistance, startDate, startTime, endDate, endTime, startLatitude, startLongitude, endLatitude, endLongitude, tripRoute, create_dt]
Index: []

In [8]:
july_trip[july_trip.sumdID.str.contains("standard")]

Empty DataFrame
Columns: [pubTimeStamp, companyName, tripRecordNum, sumdID, tripDuration, tripDistance, startDate, startTime, endDate, endTime, startLatitude, startLongitude, endLatitude, endLongitude, tripRoute, create_dt]
Index: []