In [56]:
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math
import numpy as np

In [61]:
may = pd.read_csv('../data/may.csv/may.csv')

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64

In [3]:
may.sumdgroup.unique()

array(['scooter', 'Scooter', 'bicycle'], dtype=object)

In [4]:
may_scooters = may.loc[may.sumdgroup.isin(['scooter', 'Scooter'])]

In [5]:
may_scooters = may_scooters[[ 'companyname', 'sumdid', 'chargelevel','pubdatetime', 'latitude', 'longitude']]

In [6]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283582 entries, 0 to 20292502
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   companyname  object
 1   sumdid       object
 2   chargelevel  float64
 3   pubdatetime  object
 4   latitude     float64
 5   longitude    float64
dtypes: float64(3), object(3)
memory usage: 1.1+ GB

In [7]:
may_scooters.to_pickle("../data/may.pkl")

In [8]:
may_scooters.pubdatetime = pd.to_datetime(may_scooters.pubdatetime)

In [9]:
may_scooters.head()

,companyname,sumdid,chargelevel,pubdatetime,latitude,longitude
0,Bird,PoweredLIRL1,93.0,2019-05-01 00:01:41.247,36.136822,-86.799877
1,Bird,PoweredXWRWC,35.0,2019-05-01 00:01:41.247,36.191252,-86.772945
2,Bird,PoweredMEJEH,90.0,2019-05-01 00:01:41.247,36.144752,-86.806293
3,Bird,Powered1A7TC,88.0,2019-05-01 00:01:41.247,36.162056,-86.774688
4,Bird,Powered2TYEF,98.0,2019-05-01 00:01:41.247,36.150973,-86.783109

In [10]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283582 entries, 0 to 20292502
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   companyname  object
 1   sumdid       object
 2   chargelevel  float64
 3   pubdatetime  datetime64[ns]
 4   latitude     float64
 5   longitude    float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.1+ GB

In [11]:
may_scooters['date'] = may_scooters['pubdatetime'].dt.date

In [12]:
may_scooters.date = pd.to_datetime(may_scooters.date)

To round down to closest 15, this should work

15 * math.floor(number/15)

In [13]:
may_scooters.isnull().sum()

companyname      0
sumdid           0
chargelevel    283
pubdatetime      0
latitude         0
longitude        0
date             0
dtype: int64

In [14]:
may_scooters = may_scooters.dropna()

In [54]:
may_scooters

8301

In [16]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283299 entries, 0 to 20292502
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   companyname  object
 1   sumdid       object
 2   chargelevel  float64
 3   pubdatetime  datetime64[ns]
 4   latitude     float64
 5   longitude    float64
 6   date         datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(2)
memory usage: 1.2+ GB

In [55]:
may_scooters['date'] = may_scooters['pubdatetime'].dt.date

TypeError: 'int' object is not subscriptable

In [18]:
may_scooters['hour'] = may_scooters['pubdatetime'].dt.hour

In [19]:
may_scooters['minute'] = may_scooters['pubdatetime'].dt.minute

In [20]:
may_scooters.head()

,companyname,sumdid,chargelevel,pubdatetime,latitude,longitude,date,hour,minute
0,Bird,PoweredLIRL1,93.0,2019-05-01 00:01:41.247,36.136822,-86.799877,2019-05-01,0,1
1,Bird,PoweredXWRWC,35.0,2019-05-01 00:01:41.247,36.191252,-86.772945,2019-05-01,0,1
2,Bird,PoweredMEJEH,90.0,2019-05-01 00:01:41.247,36.144752,-86.806293,2019-05-01,0,1
3,Bird,Powered1A7TC,88.0,2019-05-01 00:01:41.247,36.162056,-86.774688,2019-05-01,0,1
4,Bird,Powered2TYEF,98.0,2019-05-01 00:01:41.247,36.150973,-86.783109,2019-05-01,0,1

In [21]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283299 entries, 0 to 20292502
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   companyname  object
 1   sumdid       object
 2   chargelevel  float64
 3   pubdatetime  datetime64[ns]
 4   latitude     float64
 5   longitude    float64
 6   date         object
 7   hour         int64
 8   minute       int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 1.5+ GB

In [36]:
may_scooters['roundedtime'] = may_scooters['minute'].apply(lambda x: 15*round(x/15))

In [52]:
may_scooters = may_scooters.round({'latitude': 3})

AttributeError: 'int' object has no attribute 'round'

In [50]:
may_scooters['latitude'] = may_scooters['latitude'].round(3)

TypeError: 'int' object is not subscriptable

In [51]:
may_scooters['longitude'] = may_scooters['longitude'].round(3)

TypeError: 'int' object is not subscriptable

In [44]:

may_scooters = may_scooters[[['sumdid'].nunique(),'date','hour','roundedtime', [may_scooters.round('latitude':3, 'longitude':3)]

SyntaxError: invalid syntax (<ipython-input-44-69083458d6e2>, line 1)

In [33]:
floored_data

NameError: name 'floored_data' is not defined

In [27]:
may_scooters.companyname.value_counts()

Lime      7111655
Bird      4334006
Lyft      3112581
Jump      2984630
Spin      1300718
Gotcha     915314
Bolt       524395
Name: companyname, dtype: int64

may_scooters = may_scooters[['sumdid', 'companyname','date','time','latitude', 'longitude', 'chargelevel']]

In [28]:
may_scooters.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20283299 entries, 0 to 20292502
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   companyname  object
 1   sumdid       object
 2   chargelevel  float64
 3   pubdatetime  datetime64[ns]
 4   latitude     float64
 5   longitude    float64
 6   date         object
 7   hour         int64
 8   minute       int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 1.5+ GB

bird_scooters_may = may_scooters.loc[may_scooters['companyname'] == 'Bird'].sum()
df.pivot(index='foo', columns='bar', values='baz')

In [29]:
pivot = pd.pivot_table(may_scooters, index ='companyname', values = 'sumdid', aggfunc ='count', margins = True)
pivot

               sumdid
companyname
Bird          4334006
Bolt           524395
Gotcha         915314
Jump          2984630
Lime          7111655
Lyft          3112581
Spin          1300718
All          20283299

In [25]:
may_scooters = may_scooters.dropna()